[package]
name = "mlua-userdata-json"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mlua = { version = "0.8.0-beta.5", features = ["serialize"] }
serde_json = "1.0.81"
